<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>table</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='contacttable.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='contacttable.js') }}"></script>

</head>

<body>
  <button class="tablink1">CRM</button>
  <a href="dash"><button class="tablink">Dashboard</button></a>
  <a href="leadtable"><button class="tablink">Leads</button></a>
  <a href="followuptable"><button class="tablink">FollowUps</button></a>
  <a href="ordertable"><button class="tablink">Orders</button></a>
  <a href="producttable"><button class="tablink">Products</button></a>
  <a href="contacttable"><button class="tablink2">Contacts</button></a>
  <a href="report"><button class="tablink">Report</button></a>

<a href="contactform"><button class="button8">Create New Contact</button></a>


  <section>
  <!--for demo wrap-->
  <h1>CONTACTS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Lead Source</th>
          <th>Address</th>
          <th>Product</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for contact in contact %}
        <tr>
          <td>{{contact.name}}</td>
          <td>{{contact.company_name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.source}}</td>
          <td>{{contact.address}}</td>
          <td>{{contact.product}}</td>
          <td>
            <form action="{{url_for('delete_contact', id=contact.name)}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn">
            </form>

          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>




</body>

</html>
