<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>table</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='product_quantity.css') }}">

</head>

<body>


  <button class="tablink1">CRM</button>
  <a href="dash"><button class="tablink">Dashboard</button></a>
  <a href="leadtable"><button class="tablink">Leads</button></a>
  <a href="followuptable"><button class="tablink">FollowUps</button></a>
  <a href="ordertable"><button class="tablink">Orders</button></a>
  <a href="producttable"><button class="tablink2">Products</button></a>
  <a href="contacttable"><button class="tablink">Contacts</button></a>
<a href="report"><button class="tablink">Report</button></a>

<button class="button7"></button>


  <section>
  <!--for demo wrap-->
  <h1>Products</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Category</th>
          <th>Vendor</th>
          <th>Price</th>
          <th>Tax %</th>
          <th>Available Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for product in product %}
        <tr>
          <td>{{product.pname}}</td>
          <td>{{product.pcode}}</td>
          <td>{{product.pcategory}}</td>
          <td>{{product.vendorname}}</td>
          <td>{{product.price}}</td>
          <td>{{product.tax}}</td>
          <td>{{product.quantity}}</td>
          <td><label for="Quantity" >Quantity:</label>
            <form method="POST" action="">
       <input width="15px" type="text" maxlength="3" name="rquantity" required="required" value="{{rid}}" />
       <a href="invoice\{{product.pname}}"><button class="button5">submit</button></a>

     </form>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<a href="invoice1"><button class="button8">Create Invoice</button></a>



</body>

</html>
